.userTransactions {
  width: 100%;
  display: flex;
}
.dueSection {
  text-align: center;
}
.transactionsWrapper {
  margin: 100px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

th {
  background-color: var(--th-background);
  color: var(--th-text);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
