/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--primary); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The navigation menu links */
.sidenav div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--secondary);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 13px;
  right: 60px;
  font-size: 36px;
  margin-left: 50px;
}

.navbarRight {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--primary);
  position: fixed;
  top: 0px;
  z-index: 5;
}
.navbarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
.hamburger {
  height: 50%;
  margin-top: 13px;
  margin-left: 10px;
  cursor: pointer;
}

.avatar {
  height: 50%;
  margin-top: 6px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav div {
    font-size: 18px;
  }
}
