.userTransactions {
  height: 100vh;
  width: 100%;
  display: flex;
}
.transactionsWrapper {
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--th-background);
  color: var(--th-text);
  text-align: left;
  padding: 8px;
  border: 1px solid var(--th-background);
}

tr:nth-child(even) {
  background-color: #dddddd;
}
