.body {
  width: 100%;
}
/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--primary); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  justify-content: center;
  align-items: center;
}

menu {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* The navigation menu links */
.sidenav div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--secondary);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 13px;
  right: 60px;
  font-size: 36px;
  margin-left: 50px;
}
.hamburger {
  height: 100vh;
  position: fixed;

  cursor: pointer;
  background-color: var(--primary);
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

/* Style page content */
.main {
  margin-left: 70px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav div {
    font-size: 18px;
  }
}
