/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide {
  display: inline-block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.content {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.list div {
  display: flex;
  justify-content: center;
}

.impnotice {
  background-color: #fff;
  height: 30vh;
  width: 30vw;
  font-size: 15px;
  opacity: 0.8;
  overflow-y: scroll;
}
.impnotice li {
  color: #0b4c7a;
  min-height: 10vh;
  list-style-type: none;
  border-bottom: 1px solid #aeaeae;
  padding: 5px 10px 3px 3px;
  display: flex;
  align-items: center;
}

.menubar {
  background-color: #fff;
  min-height: 30vh;
  width: 30vw;
  font-size: 15px;
  opacity: 0.8;
}
.menubar li {
  color: #0b4c7a;
  min-height: 10vh;
  list-style-type: none;
  border-bottom: 1px solid #aeaeae;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #171717;
  color: white;
  text-align: center;
}
