.topnav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--primary);
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  display: flex;
}
.hamburger {
  display: none;
}

@media only screen and (max-width: 1332px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
  .navbar {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.topnav nav Link {
  text-decoration: none;
}
.topnav menu {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerWrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
}
.topnav menu:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
.vl {
  border-left: 3px solid var(--primary);
  height: 50px;
}
.footer1 p {
  margin-bottom: 1.5rem;
}
.footer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 935px) {
  .footer1 {
    display: none;
  }
}
